		<perch:before>
		<section class="section" id="related">
		    <header class="section_header">
		        <h1 class="section_title">Related articles</h1>
		    </header>
		    <div class="section_main">
		        <ul class="list list-articles">
		</perch:before>
		            <li class="list_item">
		            	<perch:template path="partials/content/summary-article.html" />
		            </li>
		<perch:after>
		        </ul><!--/.list-articles-->
		    </div>
		</section><!--/.section-->
		</perch:after>