<section class="section section-topic" id="<perch:content id="slug" type="slug" />">
    <header class="section_header">
        <h1 class="section_title"><a href="/topics/<perch:content id="slug" type="slug" />/"><perch:content id="name" type="text" /></a></h1>
        <!-- <p class="section_meta">45 articles</p> -->
    </header>
    <div class="section_main">
        <p data-icon="&#x<perch:content id="unicode_char" type="text" />;">
        	<perch:content id="blurb" type="textarea" />
    	</p>
    </div>
</section><!--/.section-topic-->
